@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes slide {
    0% {
        -webkit-transform: translate(-200px,0px); background: red;
        transform: translate(-200px,0px); background: red;
    }
    50%
    {
        -webkit-transform: translate(200px,0px); background: blue;
        transform: translate(200px,0px); background: blue;
    }
    100% {
        -webkit-transform: translate(-200px,0px); background: red;
        transform: translate(-200px,0px); background: red;
    }
}
@keyframes slide {
    0% {
        -webkit-transform: translate(-200px,0px); background: red;
        transform: translate(-200px,0px); background: red;
    }
    50%
    {
        -webkit-transform: translate(200px,0px); background: blue;
        transform: translate(200px,0px); background: blue;
    }
    100% {
        -webkit-transform: translate(-200px,0px); background: red;
        transform: translate(-200px,0px); background: red;
    }
}
.loader2 {
    visibility: visible;
    display: inline-block;
    position: inherit;
    width: 50px;
    height: 50px;
    -webkit-animation: slide 4s infinite cubic-bezier(0, 0, 0.36, 0.66);
    animation: slide 4s infinite cubic-bezier(0, 0, 0.36, 0.66);
}
.loader {
    visibility: visible;
    display: inline-block;
    position: inherit;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    border: 0.25rem solid rgba(45, 2, 255, 0.2);
    border-top-color: #8b0000;
    -webkit-animation: spin 1s infinite linear;
    animation: spin 1s infinite linear;
}
.banner
{
    margin-top: 15%;
}